@media (max-width:600px) {
.header
{


   width: 100%;
  max-width: 600px;
  height: auto;
  overflow: hidden;
}
.an
{
	display: flex;
	margin-bottom: 27px;
	margin-left: 10px;
}
.nk
{
	display: flex;
	margin:auto;
	width:100%;
	padding-bottom: 300px;
}
.nk .ur
{
	width:100%;
}
.ku
{
	width:100%;

}
.ur img{
	width:100%;
}
.ur
{
	width:280%;
	
}

 .row1{  
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  width: 100%;
  max-width: 600px;
}
.row1.content{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin:auto;
   max-width: 600px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
   max-width: 600px;
   overflow: hidden;

}
.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size:20px; 
  width: 100%;
  overflow: hidden;
   max-width: 600px;
  
}
}


@media (max-width:600px) {

	.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  max-width: 600px;
}
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 600px;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }


 
}


* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}


/*media query*/


* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}





 .flex-container {
  display: flex;
 flex-wrap: wrap;
 width: 500px;
}

.main {
  flex: 20%;
  background-color: white;
  padding-left: : 100px;
 
  flex-wrap: wrap;
  display: flex;

}

.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.flex-container.main.item nav ul div li {
  background-color: #f1f1f1;
  width: 10px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  overflow: hidden;
}
}
@media (max-width:425px) {

.flex-container {
  display: flex;
  flex-direction: column-reverse;
 width: 100%;
 max-width: 425px;
}

.flex-container.main.item {
  background-color: #f1f1f1;
  width: 100%;
  max-width: 425px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    max-width: 425px;
}
.flex-container.main.item nav ul div li {
  background-color: #f1f1f1;
  width: 1%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  overflow: hidden;
  max-width: 425px;
}
}

}
/* 
/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}
.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size:20px; 
  
}
nav {
  display: flex;
  width: 80%;
  margin: auto;
  background-color:white;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end; 
  margin: 10px;

}
 .item nav ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end; 
  margin: 10px;


}
.caption {
    display: block;
}
.navbar li
{
  padding: 10px;
  margin: auto;
  margin-left: 10px;
}

.item nav ul li
{
  padding: 10px;
  width: 300px;
  margin: auto;
  margin-left: 10px;
}

#flexible
{
  display: flex;
   flex-wrap: wrap;
   justify-content: flex-end; 


}
/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color:white;
}

/* Style the navigation bar links */
.navbar a {
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  margin-left: 30px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  width: 30%;

}
.row1{  
  display: flex;
  flex-wrap: wrap;
  background-color: orange;

}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 0%;
  background-color: #f1f1f1;
 
}

/* Main column */
.main {
  flex: 20%;
  background-color: white;
  padding-left: : 100px;
 
  flex-wrap: wrap;
  display: flex;

}
li
{
  padding: 0px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.header
{
background-image: url(demo.png);
width: 100%;
height: 400px;
}
/* Fake image, just for this example */
#fakeimg {
 background-image: url(demo3.png);

  width: 20%;
  height: 200px;
   padding-left: : 6100px;
 
   
}
H4
{
  margin-top:   5px;
  color: white;
  margin-left:600px;
}
#fakeimg2 {
  background-image: url(demo.png);

  width: 20%;
  padding: 20px;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: gray;
  color: white;
  font-size: 10px;
}
.image1
{
  display: flex;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-right: 50px;
}
.image2
{
  max-width: 100%;
  height: 200px;
  margin-top: 50px;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

* {
    box-sizing: border-box;
    font-family: ’Lato’, sans-serif;
    margin: 0; 
    padding: 0;
}
.footerend{
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: black;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}
.bodyfooter {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
span.b {
  display: inline-block;
  width: 100%;
  height: 400px;
  padding: 5px;
    
  background-color: yellow; 
}
.container {
    flex: 1;    /* same as flex-grow: 1; */
}
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}
@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}
.flex-container.tag
{
	flex: 1;
	flex-wrap: wrap;
}
.ip2
{
	max-width: 50%;
	width: 100%;
	max-width: 500px;
	height: 100px;
}
.ip3
{
	max-width: 50%;
	background-color:white;
	text-align: center;
	margin-top: 30px;
	margin-left: 0px;
}
.pp2
{
	height: 600px;
	width: 100%;
}
.an
{
	display: flex;
	margin-bottom: 27px;
	margin-left: 10px;
}
.nk
{
	display: flex;
	margin:auto;
	width:80%;
	padding-bottom: 300px;
}
.nk .ur
{
	width:25%;
}
.ku
{
	width:50%;

}
.ur img{
	width:100%;
}
.ur
{
	width:7.1%;
	
}
.single
{
	width: 50%;padding-right: 10px;
	padding-buttom:200px;
}
