* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}
.btn
{
   width: 20%;
   height: 50px;
      margin-left: -580px;
      margin-top:40px;
      color: black;
      text-align: center;
}
 p 
  {
    width:80%;
    text-align: center;
    margin-left: 40px;
  }
.content 
{
  width: 55%;
  text-align: center;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form
{
  width: 100%
}
.content p
{
  padding:10px;
}

/*media query*/



body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}





 .flex-container {
  display: flex;
 flex-wrap: wrap;
 width: 500px;
 margin-left: 240px;margin-top: -580px;
}

.main {
  flex: 20%;
  background-color: white;
  padding-left: : 100px;
 
  flex-wrap: wrap;
  display: flex;

}

.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.flex-container.main.item {
  background-color: #f1f1f1;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  overflow: hidden;
}
}
@media (max-width:425px) {

.flex-container {
  display: flex;
  flex-direction: column-reverse;
 width: 100%;

}

.flex-container.main.item {
  background-color: #f1f1f1;
  width: 100%;
  
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.flex-container.main.item nav {
  background-color: #f1f1f1;
  width: 100%;
 

  text-align: center;
  line-height: 75px;
  font-size: 30px;
  overflow: hidden;
 
}
}

}
/* 
/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}
.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size:20px; 
  
}
nav {
  display: flex;
  width: 80%;
  margin: auto;
  background-color:white;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end; 
  margin: 10px;

}
 .item nav ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end; 
  margin: 10px;


}
.caption {
    display: block;
}
.navbar li
{
  padding: 10px;
  margin: auto;
  margin-left: 10px;
}

.item nav ul li
{
  padding: 10px;
  width: 300px;
  margin: auto;
  margin-left: 10px;
}

#flexible
{
  display: flex;
   flex-wrap: wrap;
   justify-content: flex-end; 


}
/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color:white;
}

/* Style the navigation bar links */
.navbar a {
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  margin-left: 30px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  width: 30%;

}
.row1{  
  display: flex;
  flex-wrap: wrap;
  background-color: orange;

}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 0%;
  background-color: #f1f1f1;
 
}

/* Main column */
.main {
  flex: 20%;
  background-color: white;
  padding-left: : 100px;
 
  flex-wrap: wrap;
  display: flex;

}
li
{
  padding: 0px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.header
{
background-image: url(demo.png);
width: 100%;
height: 400px;
}
@media (max-width:768px) {
  .header
{
background-image: url(demo.png);
width: 100%;
height: 400px;
}


.abc div{
  background-color: #f1f1f1;
  width: 500%;
  display: inline-block;
  max-width: 7780px;
  margin: 10px;
  height: 1100px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  overflow: hidden;
}
}




/* Fake image, just for this example */
#fakeimg {
 background-image: url(demo3.png);

  width: 20%;
  height: 200px;
   padding-left: : 6100px;
 
   
}
H4
{
  margin-top:   5px;
  color: white;
  margin-left:600px;
}
#fakeimg2 {
  background-image: url(demo.png);

  width: 20%;
  padding: 20px;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: gray;
  color: white;
  font-size: 10px;
}
.image1
{
  display: flex;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-right: 50px;
}
.image2
{
  max-width: 100%;
  height: 200px;
  margin-top: 50px;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

* {
    box-sizing: border-box;
    font-family: ’Lato’, sans-serif;
    margin: 0; 
    padding: 0;
}
.footerend{
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: black;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}
.bodyfooter {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.container {
    flex: 1;    /* same as flex-grow: 1; */
}
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}
@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}
.category ul
{
  text-decoration: none;
   list-style-type: none;
  margin-left: 30px;
  padding: 0;
  display: inline-block;
}
.category ul li
{
  padding-top: 15px;

}
.ip2
{
  max-width: 50%;
  width: 100%;
  height: 600px;
  display: flex;
}
.ip3
{
  max-width: 50%;
  background-color:#FF7733;
  text-align: center;
}
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
 display: inline-block;
  width: 75%;
  margin-top: 6px;
}

.inp2
{
 width:100%;height: 60px;border-color:#333333;
      border-style: solid;border-width: 3px;margin-left: 150px;color: black;"
}

.inp1
{
  margin-left: 150px;
  width: 90%;
  height: 60px;border-color:#333333;
      border-style: solid;border-width: 3px;color: black;"
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.inp1div
{
text-align: center;
margin-left:280px; 
}
.inp2div
{
text-align: center;
margin-left:15px;
}
 .ip2 img
{
 
  width: 100%;
  height: 100%;
}
.mydiv
{
  width: 100%;
}
.ip2.category
{
 width: 30%;flex-wrap: wrap;margin-left: 40px;margin-top: 40px
  }
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) 
{
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }


  .flex-container
{
  width: 100%;
  margin-left: -200px;
  margin-top: -410px;
  
}
  .maindiv
{
 display: flex;
 flex-wrap:wrap;
 width:100%;
 margin-top: 0px;
 margin-left: 780px;
 overflow: hidden;
}
.category
{
  
  text-decoration: none;
   list-style-type: none;
   width: 100%;
   flex-wrap: wrap;
   margin-left: 40px;
   margin-top: -7px;
 
 
 
}



.inp1div
{
text-align: center;
margin-left:280px; 
width: 100%;
}
.inp2div
{
text-align: center;
margin-left:280px; 
width: 100%;
}
.inp1
{
  margin-left: -150px;
  width:100%;
  height: 60px;
  border-color:#333333;
      border-style: solid;
      border-width: 3px;color: black;"
}


.inp2
{
width:100%;
height: 60px;
border-color:#333333;

      border-style: solid;
      border-width: 3px;
      margin-left: -100px;
      color: black;"
}
  .ip2
{
 
  width: 100%;
  height: 900px;
}
.ip2.category
{
  width: 100%;
  }



.mydiv.flex-container
{
  width:100%;
  flex-wrap: wrap;
  flex-direction: column;
  }

 .ip2 img
}
}
{
 
  width: 100%;
  height: 100%;
}

.dir
{
 flex-direction:column;
}
.ip3
{
  width: 100%;
  background-color:#FF7733;
  text-align: center;

}

   p
  {
    width:100%;
    text-align: center;
    margin-left: 40px;
  }
  .content 
{
  width: 100%;
  text-align: center;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content p
{
  padding:10px;
}

}
