.container
{
  
  display: flex;
   justify-content: flex;
   flex-wrap: wrap;
  
  
  
   


}
div.top-header
{
  background-color: #666;

  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: white;
}

div.header-main 
{
  background-color:   WHITE

  padding: 10px;
  text-align: left;
  font-size: 35px;
  color: black;
   width: 100%;
  height: 70px;
   display: flex;
   justify-content: flex;
   flex-wrap: wrap;

}
div.header-main .logo
{
  background-color:   WHITE

  padding: 10px;
  text-align: left;
  font-size: 35px;
  color: black;

}

body {
    font-family: sans-serif;
}
ul {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: flex-end; 
  margin: 0px;
}
li {
  margin: 20px;
  font-family: Arial;
}
#title {
  margin-right: auto;
}
li a {
 color: black;
 text-decoration: none; 
}

li a:hover {
  text-decoration: underline;
}

.bgimage
{
background-image: url(demo.png);
width: 100%;
height: 400px;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}
.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size:20px; 
  
}


/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */


/* Main column */



